.secao {
  @include flex($direction: column);
  padding: 6rem 2rem;
  overflow: hidden;

  @include respond(tiny) {
    padding: 3.9rem 2rem;
  }
}

.container {
  @include flex();
  max-width: 100rem;
  margin: auto;
}

.grid {
  display: grid;
}

.rodape {
  padding: 4.5rem 2rem;

  &__logo {
    width: 3.7rem;
    height: 3.7rem;
  }
}
