.caixa {
  background-color: $cor-cinza-claro;
  margin-bottom: 6rem;
  border-radius: 2.5rem;
  padding: 3rem 2rem;
  max-width: 50%;
  @include flex($direction: column, $align: center, $gap: 2rem);
  position: relative;
  z-index: 1;
  box-shadow: inset 0 0 1rem 0.3rem rgba(0, 0, 0, 0.25);

  @include respond(small) {
    margin-bottom: 0;
    max-width: 53rem;
  }

  &__div-logo {
    width: 6.5rem;
    height: 6.5rem;
    padding: 1.2rem;
    box-shadow: inset 0 0 0.8rem rgba(black, 0.2);
    border-radius: 50%;
    @include flex();
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(35%, -35%);
    background-color: $cor-cinza-claro;
  }

  &__titulos {
    @include flex($direction: column, $align: center, $gap: 0.65rem);

    &--data {
      margin-bottom: 3rem;
    }
  }

  &__h1 {
    color: #1c415c;
    @extend %titulo;
    text-align: center;
  }
  &__subtitulo {
    @extend %subtitulo;

    &--cinza {
      color: #4b4d4d;
    }

    &--online-gratuito {
      margin: 2rem 0 2rem 0;
    }
  }
  &__lista {
    list-style: none;
    font-size: 2rem;
    @include flex($direction: column, $gap: 0.8rem);
  }

  &__item-lista {
    @include flex($align: start, $gap: 0.8rem);
  }

  &__icone {
    width: 2rem;
    margin-top: 0.3rem;
  }
}
